<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.ant.modules.promotion.dao.coupon.CouponMapper" >
  <resultMap id="BaseResultMap" type="Coupon" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <result column="start_time" property="startTime" jdbcType="TIME" />
    <result column="validate" property="validate" jdbcType="TIME" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <association property="office" javaType="Office">
    	<id property="id" column="office_id"/>
    	<result property="name" column="office_name"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, code, type, amount, start_time, validate, pic_url, office_id
  </sql>
  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />,
    (select name from sys_office o where o.id = c.office_id) office_name
    from coupon c
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <!-- 查询 -->
  <select id="query" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />,
    (select name from sys_office o where o.id = c.office_id) office_name
    from coupon c
  </select>
  
  <!-- 统计总数 -->
  <select id="count" resultType="int" parameterType="Map" >
    select count(1)
    from coupon c
  </select>
  
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from coupon
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="Coupon" >
    insert into coupon (id, name, code, 
      type, amount, start_time, 
      validate, pic_url, 
      office_id)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{amount,jdbcType=DOUBLE}, #{startTime,jdbcType=TIME}, 
      #{validate,jdbcType=TIME}, #{picUrl,jdbcType=VARCHAR}, #{office.id,jdbcType=VARCHAR})
  </insert>
  <update id="update" parameterType="Coupon" >
    update coupon
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIME},
      </if>
      <if test="validate != null" >
        validate = #{validate,jdbcType=TIME},
      </if>
      <if test="picUrl != null" >
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="office != null" >
        office_id = #{office.id,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>